# Arquivos compilados
# war # Manter o executável para avaliação
# *.o  # Manter os objetos para avaliação
*.out
*.exe

# Diretórios de build
# Manter os diretórios bin e obj para avaliação

# Diretórios VS Code
.vscode/launch.json
.vscode/tasks.json

# Arquivos temporários
*~
.*.swp
.*.swo

# Arquivos de depuração
core
vgcore.*
